<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
      crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/vuetify@2.3.21/dist/vuetify.min.css"
      integrity="sha384-5Y/vxbN8evgZjZ5+/z8yWoZjgg5DskBEHR46PUHu+rw1lRVN5ahwI6yelQfBtVN8"
      crossorigin="anonymous">
  <link rel="stylesheet" href="../../book.css">

  <script src="https://unpkg.com/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" 
      crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" 
      crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"
      integrity="sha384-cwVe6U8Tq7F/3JIj6xeDzOwuqeChcmRcdYqDGfoYmdAurw7L3f4dFHhEJKfxv96A"
      crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vuetify@2.3.21/dist/vuetify.min.js"
      integrity="sha384-Il4HxiKkot+1M1hMZiyZSvH1DmSR2Rdh3sgT2E31hFVwla7RfuzdbufdBswLGts6"
      crossorigin="anonymous"></script>
  <script src="../../studio.js"></script>
  <script src="../jsnotes.js"></script>

  <title>Introduction</title>
</head>
<body>
  <header id="header"></header>

  <div class="container">
    <div class="title">
      <h3 class="chapter">Introduction</h3>
    </div>

    <h4 class="section">Hello JavaScript</h4>
    <div class="example">
      <script src="https://gist.github.com/huangxg/e07cf29533cca60dbcda955d2b6c3466.js?file=hello_js.html"></script>
      <h5><a href="hello_js.html">Hello, JavaScript</a></h5>
    </div>

    <h4 class="section">Basic concepts</h4>
    <ul>
      <li><strong>HTML</strong> is a markup language for webpages.</li>
      <li><strong>CSS</strong> is a style sheet language to decorate webpages.</li>
      <li><strong>JavaScript</strong> is a scripting language that can be used to create dynamic content.</li>
    </ul>
    <p>JavaScript has the following features:</p>
    <ul>
      <li>Variables to store values.</li>
      <li>Operations to caculate numbers or tranform strings.</li>
      <li>Conditions and branches to make decisions.</li>
      <li>Handlers to respond to events.</li>
    </ul>

    <h4 class="section">Methodology</h4>
    <ul>
      <li>What? Why? How?</li>
      <li>Examples</li>
      <li>Resources</li>
      <li>Tools</li>
    </ul>

    <h4 class="section">History</h4>
    <blockquote>
      <p class="reset">滚滚长江东逝水，浪花淘尽英雄。是非成败转头空。青山依旧在，几度夕阳红。</p>
      <footer>杨慎·临江仙</footer>
    </blockquote>

    <div id="computer-techs" class="table-wrap">
      <v-simple-table>
        <template v-slot:default>
          <caption>Computer Technologies</caption>
          <thead>
            <tr>
              <th>Time</th>
              <th>Technology</th>
              <th>People</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in techs" :key="item.name">
              <td>{{ item.time }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.people }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>

    <figure class="text-center">
      <img class="figure-img img-fluid rounded" src="../../img/640px-Model_of_a_Turing_machine.jpg" alt="">
      <figcaption>Turing machine (courtesy of Wikipedia)</figcaption>
    </figure>

    <figure class="text-center">
      <img class="figure-img img-fluid rounded" src="../../img/628px-Eniac.jpg" alt="">
      <figcaption>Eniac (courtesy of Wikipedia)</figcaption>
    </figure>

    <div id="web-techs" class="table-wrap">
      <v-simple-table>
        <template v-slot:default>
          <caption>Web Technologies</caption>
          <thead>
            <tr>
              <th>Time</th>
              <th>Technology</th>
              <th>People</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in techs" :key="item.name">
              <td>{{ item.time }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.people }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
  </div>

  <script>
    $(() => {
      bao.studio.addChapterNavbar(bao.studio.jsnotes);

      let computerTechs = [
        [ 1936, 'Turing machine, Turing test', 'Alan Turing' ],
        [ 1945, 'Von Neumann architecture', 'John von Neumann' ],
        [ 1946, 'ENIAC', 'John Mauchly, J. Presper Eckert, 朱传榘' ],
        [ 1969, 'ARPANET', 'Defense Advanced Research Projects Agency (DARPA)' ],
        [ 1970, 'Unix', 'Ken Thompson, Dennis Ritchie, Brian Kernighan, Douglas McIlroy, Joe Ossanna' ],
        [ 1972, 'C', 'Dennis Ritchie' ],
        [ 1985, 'C++', 'Bjarne Stroustrup' ],
        [ 1990, 'Python', 'Guido van Rossum' ],
        [ 1995, 'Java', 'James Gosling' ],
      ];
      new Vue({
        el: '#computer-techs',
        vuetify: new Vuetify(),
        data: { techs: computerTechs.map(t => {
          return { time: t[0], name: t[1], people: t[2] };
        }) }
      });

      let webTechs = [
        [ 1991, 'HTML', 'Tim Berners-Lee' ],
        [ 1995, 'JavaScript', 'Brendan Eich' ],
        [ 1996, 'CSS', 'Håkon Wium, LieBert Bos' ],
        [ 1997, 'ECMAScript 1.0', 'Ecma International' ],
        [ 2015, 'ECMAScript 2015, ES6', 'Ecma International' ],
      ];
      new Vue({
        el: '#web-techs',
        vuetify: new Vuetify(),
        data: { techs: webTechs.map(t => {
          return { time: t[0], name: t[1], people: t[2] };
        }) }
      });
    });
  </script>

</body>
</html>
