<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../studio.css">
  <link rel="stylesheet" href="../../book.css">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" 
    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" 
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="../../studio.js"></script>
  <script src="../jsnotes.js"></script>

  <title>Resources and Tools</title>
</head>
<body style="counter-reset: chapter 15 table example">
  <header id="header"></header>

  <div class="container mb-5">
    <div class="title">
      <h3 class="chapter">Resources and Tools</h3>
    </div>

    <blockquote>
      <p class="reset">工欲善其事，必先利其器。</p>
      <footer>论语·魏灵公</footer>
    </blockquote>

    <h4 class="section">Resources</h4>
    <div id="resources" class="table-wrap">
      <v-simple-table>
        <template v-slot:default>
          <caption>Resources</caption>
          <thead>
            <tr>
              <th>Title</th>
              <th>Provider</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in resources" :key="item.name">
              <td><a :href=item.url>{{ item.name }}</a></td>
              <td>{{ item.provider }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>

    <h4 class="section">Tools</h4>
    <div id="tools" class="table-wrap">
      <v-simple-table>
        <template v-slot:default>
          <caption>Tools</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Provider</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in tools" :key="item.name">
              <td><a :href=item.url>{{ item.name }}</a></td>
              <td>{{ item.provider }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>

    <h5 class="subsection">Chrome tips</h5>
    <ul>
      <li>Inspect disabled in context menu.</li>
        <a href="https://stackoverflow.com/questions/32999677/developer-tools-getting-disabled">https://stackoverflow.com/questions/32999677/developer-tools-getting-disabled</a>
    </ul>

    <h5 class="subsection">Basic Git commands</h5>
    <ul>
      <li><samp>git init</samp></li>
      <li><samp>git clone https://github.com/&lt;user&gt;/my-repo.git</samp></li>
      <li><samp>git clone https://github.com/&lt;user&gt;/&lt;user&gt;.github.io.git</samp></li>
      <li><samp>git config --global user.name "My Name"</samp></li>
      <li><samp>git config --global user.email "my.email@gmail.com"</samp></li>
      <li><samp>git config --global credential.helper wincred</samp></li>
      <li><samp>git credential-osxkeychain</samp></li>
      <li><samp>git add changed_file.html</samp></li>
      <li><samp>git commit -m "update message"</samp></li>
      <li><samp>git push</samp></li>
      <li><samp>git pull</samp></li>
      <li><samp>git status</samp></li>
    </ul>

    <h5 class="subsection">GitHub help</h5>
    <ul>
      <li><a href="https://help.github.com/en/github/using-git/getting-started-with-git-and-github">Getting started with Git and GitHub</a></li>
      <li><a href="https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github">Creating a repository on GitHub</a></li>
      <li><a href="https://help.github.com/en/github/creating-cloning-and-archiving-repositories/cloning-a-repository-from-github">Cloning a repository from GitHub</a></li>
      <li><a href="https://help.github.com/en/github/working-with-github-pages">Working with GitHub Pages</a></li>
    </ul>
  </div>

  <script>
    $(() => {
      bao.studio.addChapterNavbar(bao.studio.jsnotes);

      let resources =  [
        [ 'CS50', 'Harvard University', 'https://online-learning.harvard.edu/course/cs50-introduction-computer-science' ],
        [ 'JavaScript documentations', 'Mozilla', 'https://developer.mozilla.org/en-US/docs/Web/JavaScript' ],
        [ 'Test on Variables', 'Mozilla', 'https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Test_your_skills:_variables' ],
        [ 'Test on Math', 'Mozilla', 'https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Test_your_skills:_Math' ],
        [ 'Test on Strings', 'Mozilla', 'https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Test_your_skills:_Strings' ],
        [ 'Test on Arrays', 'Mozilla', 'https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Test_your_skills:_Arrays' ],
      ];
      new Vue({
        el: '#resources',
        vuetify: new Vuetify(),
        data: { resources: resources.map(t => {
          return { name: t[0], provider: t[1], url: t[2] };
        }) }
      });

      let tools = [
        [ 'Homebrew', 'Max Howell', 'https://brew.sh/' ],
        [ 'Chocolatey', 'Chocolatey Software', 'https://chocolatey.org/' ],
        [ 'Chrome', 'Google', 'https://www.google.com/chrome/' ],
        [ 'JSFiddle', 'Oskar Krawczyk, Piotr Zalewa', 'https://jsfiddle.net/' ],
        [ 'Visual Studio Code', 'Microsoft', 'https://code.visualstudio.com/' ],
        [ 'Git', 'Linus Torvalds', 'https://git-scm.com/' ],
        [ 'GitHub', 'Microsoft', 'https://github.com/' ],
        [ 'ImageMagick', 'John Cristy', 'https://www.imagemagick.org/' ],
        [ 'Node.js', 'Ryan Dahl', 'https://nodejs.org/'],
      ];
      new Vue({
        el: '#tools',
        vuetify: new Vuetify(),
        data: { tools: tools.map(t => {
          return { name: t[0], provider: t[1], url: t[2] };
        }) }
      });
    });
  </script>
</body>
</html>
